<section class="center">
    <h1>Posts by {{ authorsCtrl.author.name }}</h1>
    <img class="author large center" src="{{ authorsCtrl.author.image }}" alt="Author Image"
        data-ng-if="authorsCtrl.author.image.length">
    <p class="byline">{{ authorsCtrl.author.postCount }} Total</p>
</section>
<section class="post" data-ng-repeat="post in authorsCtrl.paging.visiblePosts">
    <h2><a class="title" href="posts/{{ post.slug }}">{{ post.title }}</a></h2>
    <p class="byline">
        <span class="date">{{ post.publishDate * 1000 | date : 'fullDate' }}</span>
    </p>
    <span data-ng-bind-html="post.short_text"></span>
</section>
<footer>
    <p class="left" data-ng-show="authorsCtrl.paging.showNewer"><a class="footer-link" data-ng-click="authorsCtrl.paging.prev()" href=""><i class="fa fa-arrow-left"></i> Newer Posts</a></p>
    <p class="right" data-ng-show="authorsCtrl.paging.showOlder"><a class="footer-link" data-ng-click="authorsCtrl.paging.next()" href="">Older Posts <i class="fa fa-arrow-right"></i></a></p>
    <p>Page {{ authorsCtrl.paging.current }} of {{ authorsCtrl.paging.total }}</p>
</footer>
