<nav>
    <ul>
        <li><a href="admin/dash">Dashboard</a></li>
        <li data-ng-class="{'active': !newPostCtrl.isEdit}"><a href="admin/new">New Post</a></li>
        <li class="active" data-ng-if="newPostCtrl.isEdit"><a href="admin/new/{{ newPostCtrl.postForm.id }}">Edit Post</a></li>
        <li><a href="" data-ng-click="newPostCtrl.logOut()">Log Out</a></li>
    </ul>
</nav>
<section class="new-post">
    <form novalidate>
        <h2 class="section-name">Write</h2>
        <input type="text" placeholder="Post Title" data-ng-model="newPostCtrl.postForm.title"
            data-ng-change="newPostCtrl.updateMarkdown()" required>
        <textarea placeholder="New Content" data-ng-model="newPostCtrl.postForm.text"
            data-ng-change="newPostCtrl.updateMarkdown()" required></textarea>
        <button class="right" type="submit" data-ng-click="newPostCtrl.postForm.save()">
            <i class="fa fa-floppy-o"></i> Save
        </button>
        <button class="right" data-ng-click="newPostCtrl.postForm.publish()"
            data-ng-show="!newPostCtrl.postForm.isPublished">
            <i class="fa fa-share-square-o"></i> Publish
        </button>
        <button class="right" data-ng-click="newPostCtrl.postForm.unpublish()"
            data-ng-show="newPostCtrl.postForm.isPublished">
            <i class="fa fa-share-square-o"></i> Unpublish
        </button>
    </form>

    <article>
        <h2 class="section-name">Preview</h2>
        <section class="markdown" data-ng-bind-html="newPostCtrl.convertedMarkdown"></section>
    </article>
</section>
<div data-smpl-notify></div>
