<smpl-nav page="dashboard"></smpl-nav>

<article class="dashboard">
    <nav>
        <ul>
            <li>
                <a [ngClass]="{ active: tab === 'settings' }"
                    (click)="changeTab('settings')">Settings</a>
            </li>
            <li>
                <a [ngClass]="{ active: tab === 'posts' }"
                    (click)="changeTab('posts')">Posts</a>
            </li>
            <li>
                <a [ngClass]="{ active: tab === 'authors' }"
                    (click)="changeTab('authors')">Authors</a>
            </li>
        </ul>
    </nav>

    <section *ngIf="tab === 'posts'">
        <div class="center" *ngIf="loading">
            Loading Posts...
        </div>
        <div *ngIf="!loading">
            <div *ngIf="fullPosts.length === 0">
                You have no posts, {{ activeUser.name }}.
                Use the "New Post" link above to get started!
            </div>

            <h2 *ngIf="fullPosts.length > 0">Posts By {{ activeUser.name }}</h2>

            <div class="filters center" *ngIf="fullPosts.length">
                <h3>Post Filters</h3>
                <label>
                    Sort By:
                    <select [(ngModel)]="sort" (change)="sortPosts()">
                        <option value="desc">Newest First</option>
                        <option value="asc">Oldest First</option>
                    </select>
                </label>
                <label>
                    Search Titles:
                    <input type="search" #title (input)="titleSearch(title.value)">
                </label>
                <label>
                    Show Status:
                    <select [(ngModel)]="show" (change)="filterPosts()">
                        <option value="all">All</option>
                        <option value="pub">Published</option>
                        <option value="unpub">Unpublished</option>
                    </select>
                </label>
            </div>

            <div class="post" *ngFor="let post of posts">
                <h3>{{ post.title }}</h3>
                <span class="date" *ngIf="post.is_published">
                    Published on {{ post.publish_date * 1000 | date: 'fullDate' }}
                </span>
                <span class="date" *ngIf="!post.is_published">
                    Unpublished
                </span>
                <span [innerHtml]="post.short_text"></span>

                <div class="buttons">
                    <button class="flat error left" (click)="removePost(post.id)">
                        <i class="icon icon-cancel"></i> Delete
                    </button>
                    <button class="flat" (click)="toggleIsPublished(post.id)"
                        *ngIf="post.is_published">
                        <i class="icon icon-ccw"></i> Unpublish
                    </button>
                    <button class="flat" (click)="toggleIsPublished(post.id)"
                        *ngIf="!post.is_published">
                        <i class="icon icon-export"></i> Publish
                    </button>
                    <button class="flat" (click)="editPost(post.slug)">
                        <i class="icon icon-edit"></i> Edit
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="tab === 'settings'">
        <form>
            <h2>Blog Details</h2>
            <label>
                Blog Name:
                <input type="text" name="name" [(ngModel)]="details.name">
            </label>
            <label>
                Header Image Url:
                <input type="text" name="image" [(ngModel)]="details.image">
            </label>
            <label>
                Description (for RSS feed):
                <input type="text" name="description"
                    [(ngModel)]="details.description">
            </label>
            <input class="right flat" type="submit" (click)="updateDetails()" value="Submit">
        </form>

        <form>
            <h2>Author Details</h2>
            <label>
                Display Name:
                <input type="text" name="display" [(ngModel)]="activeUser.name">
            </label>
            <label>
                Image Link:
                <input type="text" name="image" [(ngModel)]="activeUser.image">
            </label>
            <img class="author" src="{{ activeUser.image }}" alt="Author Image"
                *ngIf="activeUser.image.length">
            <input class="right flat" type="submit" (click)="updateAuthor()">
        </form>

        <form>
            <h2>Change Password</h2>
            <label>
                Current Password:
                <input type="password" name="current" [(ngModel)]="changePass.current">
            </label>
            <label>
                New Password:
                <input type="password" name="current" [(ngModel)]="changePass.update">
            </label>
            <label>
                Verify Password:
                <input type="password" name="current" [(ngModel)]="changePass.verify">
            </label>
            <input class="right flat" type="submit" (click)="changePassword()">
        </form>
    </section>

    <section *ngIf="tab === 'authors'">
        <form>
            <h2>Add Author</h2>

            <label>
                Username:
                <input type="text" name="username" [(ngModel)]="newUser.username">
            </label>
            <label>
                Password:
                <input type="password" name="current" [(ngModel)]="newUser.password">
            </label>
            <label>
                Verify Password:
                <input type="password" name="current" [(ngModel)]="newUser.verify">
            </label>
            <input class="right flat" type="submit" (click)="addAuthor()">
        </form>

        <h2>Manage Authors</h2>

        <div class="author-detail" *ngFor="let author of authors">
            <img class="author" src="{{ author.image }}" alt="Author Image"
                *ngIf="author.image.length">
            {{ author.name }}<br>
            {{ author.post_count }} Post<span *ngIf="author.post_count !== 1">s</span><br>
            Username: {{ author.username }}
            <button class="right flat error" *ngIf="activeUser.is_admin && activeUser.id !== author.id"
                (click)="removeAuthor(author.id)">
                <i class="icon icon-cancel"></i>Remove
            </button>
        </div>
    </section>
</article>

