<section class="post" data-ng-repeat="post in homeCtrl.paging.visiblePosts">
    <h2><a class="title" href="posts/{{ post.slug }}">{{ post.title }}</a></h2>
    <span data-ng-bind-html="post.short_text"></span>
    <p class="byline">
        <img class="author" src="{{ homeCtrl.authors[post.author].image }}" alt="Author Image"
            data-ng-if="homeCtrl.authors[post.author].image.length">
        <a href="authors/{{ post.author }}">{{ homeCtrl.authors[post.author].name }}</a> |
        <span class="date">{{ post.publishDate * 1000 | date : 'fullDate' }}</span>
    </p>
</section>
<section class="post" data-ng-if="homeCtrl.paging.total === 0">
    <h2>No Posts Here Yet</h2>
    <p>Come back again soon, and there will be plenty of content to enjoy.</p>
</section>
<footer data-ng-if="homeCtrl.paging.total">
    <p class="left" data-ng-show="homeCtrl.paging.showNewer"><a class="footer-link" data-ng-click="homeCtrl.paging.prev()" href=""><i class="fa fa-arrow-left"></i> Newer Posts</a></p>
    <p class="right" data-ng-show="homeCtrl.paging.showOlder"><a class="footer-link" data-ng-click="homeCtrl.paging.next()" href="">Older Posts <i class="fa fa-arrow-right"></i></a></p>
    <p>Page {{ homeCtrl.paging.current }} of {{ homeCtrl.paging.total }}</p>
</footer>
