<nav>
    <ul>
        <li class="active"><a href="admin/dash">Dashboard</a></li>
        <li><a href="admin/new">New Post</a></li>
        <li><a href="" data-ng-click="dashCtrl.logOut()">Log Out</a></li>
    </ul>
</nav>
<section>
    <nav>
        <ul>
            <li data-ng-class="{'active': dashCtrl.activeTab === 'settings'}">
                <a href="" data-ng-click="dashCtrl.activeTab = 'settings'">Settings</a>
            </li>
            <li data-ng-class="{'active': dashCtrl.activeTab === 'posts'}">
                <a href="" data-ng-click="dashCtrl.activeTab = 'posts'">Posts</a>
            </li>
            <li data-ng-class="{'active': dashCtrl.activeTab === 'authors'}"
                data-ng-if="dashCtrl.isAdmin == '1'">
                <a href="" data-ng-click="dashCtrl.activeTab = 'authors'">Authors</a>
            </li>
        </ul>
    </nav>
    <div class="top-pad" data-ng-show="dashCtrl.activeTab === 'settings'">
        <form data-ng-submit="dashCtrl.blogForm.submit()" data-ng-if="dashCtrl.isAdmin == '1'">
            <h2>Blog Details</h2>
            <div data-ng-if="dashCtrl.blogForm.alerts.length">
                <span data-ng-repeat="alert in dashCtrl.blogForm.alerts" class="{{ alert.type }}">
                    {{ alert.text }}
                </span>
            </div>
            <label for="blogName">Blog Name</label>
            <input type="text" data-ng-model="dashCtrl.blogForm.name">
            <label for="image">Header Image Link</label>
            <input type="text" id="image" data-ng-model="dashCtrl.blogForm.image">
            <label for="description">Description (for RSS feed)</label>
            <input type="text" id="description" data-ng-model="dashCtrl.blogForm.description">
            <button type="submit">Submit</button>
        </form>

        <form data-ng-submit="dashCtrl.authorForm.submit()">
            <h2>Author Details</h2>
            <div data-ng-if="dashCtrl.authorForm.alerts.length">
                <span data-ng-repeat="alert in dashCtrl.authorForm.alerts" class="{{ alert.type }}">
                    {{ alert.text }}
                </span>
            </div>
            <label for="name">Display Name</label>
            <input type="text" id="name" data-ng-model="dashCtrl.authorForm.name">
            <label for="image">Image Link</label>
            <input type="text" id="image" data-ng-model="dashCtrl.authorForm.image">
            <img class="author" src="{{ dashCtrl.authorForm.image }}" alt="Author Image"
                data-ng-if="dashCtrl.authorForm.image.length">
            <button type="submit">Submit</button>
        </form>

        <form data-ng-submit="dashCtrl.passForm.submit()">
            <h2>Change Password</h2>
            <div data-ng-if="dashCtrl.passForm.alerts.length">
                <span data-ng-repeat="alert in dashCtrl.passForm.alerts" class="{{ alert.type }}">
                    {{ alert.text }}
                </span>
            </div>
            <label for="password">Current Password</label>
            <input id="password" type="password" data-ng-model="dashCtrl.passForm.password">
            <label for="newPass">New Password</label>
            <input id="newPass" type="password" data-ng-model="dashCtrl.passForm.newPass">
            <label for="verifyPass">Verify Password</label>
            <input id="verifyPass" type="password" data-ng-model="dashCtrl.passForm.verifyPass">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="top-pad" data-ng-show="dashCtrl.activeTab === 'posts'">
        <h2>Posts by {{ dashCtrl.authorForm.name }}</h2>
        <ul class="post-list">
            <li class="post-list-item" data-ng-repeat="post in dashCtrl.paging.visiblePosts"
                data-ng-class="{ 'unpub': post.isPublished === '0' }" }>
                <h3>{{ post.title }}</h3>
                <span class="date" data-ng-if="post.isPublished === '1'">
                    Published on {{ post.publishDate * 1000 | date: 'fullDate' }}
                </span>
                <span class="date" data-ng-if="post.isPublished === '0'">Unpublished</span>
                <span data-ng-bind-html="post.shortText"></span>

                <div class="buttons">
                    <button class="left error" type="button" data-ng-click="dashCtrl.deletePost(post.id)">
                        <i class="fa fa-times"></i> Delete
                    </button>
                    <button type="button" data-ng-if="post.isPublished == '0'"
                        data-ng-click="dashCtrl.publishPost(post.id)">
                        <i class="fa fa-share-square-o"></i> Publish
                    </button>
                    <button type="button" data-ng-if="post.isPublished == '1'"
                        data-ng-click="dashCtrl.unpublishPost(post.id)">
                        <i class="fa fa-undo"></i> Unpublish
                    </button>
                    <button type="button" data-ng-click="dashCtrl.editPost(post.slug)">
                        <i class="fa fa-pencil-square-o"></i> Edit
                    </button>
                </div>
            </li>
        </ul>
        <section data-ng-if="dashCtrl.paging.total === 0">
            <p>No posts yet. Why not <a href="admin/new">add one</a>?</p>
        </section>
    </div>

    <div class="top-pad" data-ng-show="dashCtrl.activeTab === 'authors'">
        <form data-ng-submit="dashCtrl.newAuthorForm.submit()">
            <h2>Add Author</h2>
            <div data-ng-if="dashCtrl.newAuthorForm.alerts.length">
                <span data-ng-repeat="alert in dashCtrl.newAuthorForm.alerts" class="{{ alert.type }}">
                    {{ alert.text }}
                </span>
            </div>
            <label for="username">User Name</label>
            <input type="text" id="username" data-ng-model="dashCtrl.newAuthorForm.username">
            <label for="authorPass">Password</label>
            <input id="authorPass" type="password" data-ng-model="dashCtrl.newAuthorForm.password">
            <label for="verifyAuthorPass">Verify Password</label>
            <input id="verifyAuthorPass" type="password" data-ng-model="dashCtrl.newAuthorForm.verifyPass">
            <button type="submit">Add Author</button>
        </form>

        <h2>Manage Authors</h2>
        <ul class="authors">
            <li data-ng-repeat="author in dashCtrl.authors"
                data-ng-if="author.isActive === '1'">
                <img class="author" src="{{ author.image }}" alt="Author Image"
                data-ng-if="author.image.length"> {{ author.name }}<br>
                {{ author.postCount }} Post<span data-ng-hide="author.postCount == 1">s</span><br>
                Username: {{ author.username }}
                <button class="error" type="button"
                    data-ng-click="dashCtrl.removeAuthor(author.id)"
                    data-ng-if="author.isAdmin === '0'">
                    <i class="fa fa-times"></i> Remove
                </button>
            </li>
        </ul>
    </div>
</section>
<footer data-ng-show="dashCtrl.activeTab === 'posts' && dashCtrl.paging.total">
    <p class="left" data-ng-show="dashCtrl.paging.showNewer"><a class="footer-link" data-ng-click="dashCtrl.paging.prev()" href=""><i class="fa fa-arrow-left"></i> Previous</a></p>
    <p class="right" data-ng-show="dashCtrl.paging.showOlder"><a class="footer-link" data-ng-click="dashCtrl.paging.next()" href="">Next <i class="fa fa-arrow-right"></i></a></p>
    <p>Page {{ dashCtrl.paging.current }} of {{ dashCtrl.paging.total }}</p>
</footer>
<div data-smpl-notify></div>
