SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On
Options FollowSymLinks

RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ %{ENV_BASE}index.html [L]
