body {
    font-size: 1.1em;
    line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Slab', serif;
    line-height: 1em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.loading {
    padding-top: 2em;
    text-align: center;
}

code {
    background-color: transparent;
    border: 0;
    line-height: 1.7em;
    padding: 0;
}

// Default styles for main layout sections
header {
    color: lighten($color-text, 40%);
    font-size: .8em;
    height: 10vh;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;

    .left,
    .right {
        margin: 2em 1em;
    }

    a {
        background-image: none;
        border: 1px solid transparent;
        border-radius: 2px;
        color: lighten($color-text, 55%);
        padding: .5em 1em;
        text-decoration: none;

        &:hover,
        &:active {
            background-color: $white;
            border: 1px solid lighten($color-text, 70%);
        }
    }
}

article {
    background-color: $white;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, .25);
    margin-bottom: 5vh;
    margin-top: 9vh;
    min-height: 86vh;
    padding-bottom: 2em;
    padding-top: 2em;
    position: relative;
    z-index: 10;

    @include media($small) {
        margin-top: 10vh;
        min-height: 85vh;
    }

    h1 {
        font-size: 3em;
    }

    section {
        @include outer-container;
    }

    .pagination {
        text-align: center;

        p {
            color: lighten($color-text, 33%);
            font-size: .7em;
        }

        .right {
            width: 17%;
        }

        a {
            background-image: none;
            border: 1px solid lighten($color-text, 40%);
            border-radius: 2px;
            color: lighten($color-text, 33%);
            padding: .5em 1em;
            text-decoration: none;

            &:hover,
            &:active {
                background-color: $white;
                border: 1px solid lighten($color-text, 20%);
                color: lighten($color-text, 20%);
            }
        }
    }
}

footer {
    bottom: 0;
    color: lighten($color-text, 55%);
    font-size: .8em;
    height: 5vh;
    left: 0;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    right: 0;

    p {
        margin-top: .7em;
    }

    a {
        background-image: none;
        color: lighten($color-text, 35%);
        text-decoration: none;
        transition: all .2s linear;

        &:hover,
        &:active {
            color: lighten($color-text, 15%);
        }
    }
}

